.app-container {
  display: grid;
  grid-template: max-content 1fr max-content / 1fr;
  height: 100%;
  width: 100%;
}

.sidenav-container {
  height: 100%;
}

.workspace {
  height: 100%;
  padding: 10px;
  width: calc(100vw - 20px);
  overflow: auto;
}
